* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: system-ui;
  background-color: #5755c5;
}
.coin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coin .container {
  position: relative;
  background-color: white;
  width: 500px;
  height: 400px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding: 40px;
  position: relative;
}
.done {
  position: absolute;
  background-color: #5755c5;
  text-align: center;
  padding: 30px;
  width: calc(100% - 80px);
  font-size: 30px;
  font-weight: bold;
  color: white;
  bottom: 120px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.coin .container .info {
  text-align: right;
  font-weight: bold;
}
.coin .container .info .heads {
  padding-bottom: 10px;
}
.coin .container .flip {
  position: absolute;
}
#box {
  position: relative;
  width: 120px;
  height: 120px;
  transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  left: 130%;
  top: 80px;
}
#box .face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFB000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #f3f3f3;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border: 8px solid #F39F5A;
}

#box .face.back {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -o-transform: rotateX(180deg);
}

.coin .container .flip #box.tail {
  transform: rotateX(-540deg);
  -webkit-transform: rotateX(-540deg);
  -moz-transform: rotateX(-540deg);
  -ms-transform: rotateX(-540deg);
  -o-transform: rotateX(-540deg);
}

.coin .container .flip #box.head {
  transform: rotateX(4turn);
  -webkit-transform: rotateX(4turn);
  -moz-transform: rotateX(4turn);
  -ms-transform: rotateX(4turn);
  -o-transform: rotateX(4turn);
}

.coin .container .buttons {
  width: 80%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.coin .container .buttons button {
  border: none;
  width: 100px;
  padding: 10px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  user-select: none;
}
.coin .container .buttons .flipcoin {
  background-color: #5755c5;
}
.pointerevent {
  pointer-events: none;
}
.coin .container .buttons .reset {
  color: #5755c5;
  border: 2px solid #5755c5;
}
@media(max-width: 450px) {
  #box {
    left: 80%;
  }
}
